body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 20px;
line-height:0.8;
font-weight: 200;
color: #fff;
background-color: #777;
margin-top:40px;
margin-left:1em;
}

h1,h2,h3,h4,h5 { font-weight:400; }

a {
color: #fff;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.container {
font-size: 60px;
line-height:1;
font-weight:300;
max-width: 800px;
margin: 0em auto;
text-align: center;
}

.default {
max-width:800px;
margin: 0em auto;
line-height:1.6;
}

.navlinks {
font-size:1.2em;
line-height:2;
}

a.nav {
font-size:40px;
line-height:0.6;
color:#000;
text-decoration: none;
position:fixed;
padding:2px;
top:0;
left:0;
}

a.nav:hover {
color:#fff;
}

.theme-test {
color: red;
font-size: larger;
}
