<html>
<head>
  <title>{{test}}</title>
  <link rel="stylesheet" href="/css/theme-test.css">
</head>
<body>
<a class="nav" href="/">⊙</a>
{{{renderPage}}}
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/js/theme-test.js"></script>
{{{pub-ux}}}
</body>
